.example-spacer {
  flex: 1 1 auto;
}

p{
   align-self: center;
   text-justify: center;
   align-content: center;
   align-items: center;
} 
 
span{
  align-self: center;
  text-justify: center;
  align-content: center;
  align-items: center;

} 