<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <app-navbar></app-navbar>
  <img src="../assets/ang.jpg" alt="Snow" style="width:100%;">
  <div class="top-left">
    <section>
      <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="openChartDialog()">D3 Chart Format</button>
        <button mat-raised-button color="warn" (click)="openUserDialog()">Material Table</button>
        <button mat-raised-button color="warn" (click)="openStructureDialogs()">Hierarchical Structure</button>
      </div>
    </section>
  </div>
</body>

</html>